# Panel de Supabase → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://sxlcvecxiyqjgblbxrkd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4bGN2ZWN4aXlxamdibGJ4cmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3MDc1NTAsImV4cCI6MjEwNjI4MzU1MH0.o0QgNg_AtOtAhChwUDUa46l0K9IzePKtJymz6LzAseE
# NUNCA pongas aquí la service_role key.
